body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b09a9a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #333;
    padding: 4px;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
}

footer {
    background-color: #333;
    padding: 8px 4px;
    color: white;
    font-size: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
}

h1 {
    margin-top: 40px;
    font-size: 26px;
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li {
    margin: 12px 0;
}

nav ul li a {
    text-decoration: none;
    background-color: #3a3a3a;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    display: block;
    text-align: center;
    width: 220px;
}

nav ul li a:hover {
    opacity: 0.8;
}
