body {
    background-color: #9e8b8b;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 700;
    color: #1f1f1f;
}

h1::after {
    content: "";
    display: block;
    width: 230px;
    height: 2px;
    background: #000;
    margin: 8px auto 25px auto;
}

form {
    width: 330px;
    margin: 0 auto;
}

label {
    display: block;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 18px;
    color: #1f1f1f;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 70%;
    padding: 10px 12px;
    margin-top: 6px;
    border: none;
    background: #e8e5e5;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

button {
    margin-top: 18px;
    padding: 10px 28px;
    background: #2b2b2b;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background: #3b3b3b;
}