body {
    background-color: #9e8b8b;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    background-color: #333;
    padding: 4px;
    color: white;
    font-size: 15px;
}

footer {
    background-color: #333;
    padding: 8px 4px;
    color: white;
    font-size: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.container,
#listaContas {
    background-color: white;
    width: 90%;
    max-width: 420px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.0);
}

h1 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #e0e0e0;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 12px;
    font-weight: bold;
    text-align: left;
}
