body {
  background-color: #9e8b8b;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 250px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  background-color: #e0e0e0;
  margin-bottom: 15px;
}

.juros-linha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.juros-linha input[type="number"] {
  width: 250px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  background-color: #e0e0e0;
  margin: 0;
}

.juros-linha span {
  margin-left: 8px;
  font-weight: bold;
  height: 100%;
  line-height: 1;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #555;
}